[Unit]
Description=Geth Node
After=network-online.target
Wants=network-online.target
[Service]
WorkingDirectory=/root/wonchainpow
User=root
ExecStart=/usr/bin/geth --syncmode full --http  --miner.etherbase 0x4bDEa95eb7c4E57D60eeBBD8Cec5e907991bEE77 --networkid 686868    --http.port 8545 --http.corsdomain "*" --http.vhosts "*"   --http.addr "0.0.0.0" --nat extip:64.23.150.193 --datadir /wonchainpow --mine --allow-insecure-unlock

Restart=always
RestartSec=5s
[Install]
WantedBy=multi-user.target
